@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.hero * {
    position: relative;
}

.hero:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 47, 134, 0.80);
    z-index: 0;
}